.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &__container {
    margin: 12px;
    flex-grow: 1;
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    border: solid 1px #d8dfe6;
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  background-color: #17192d;
  padding: 16px;

  &__logo {
    cursor: pointer;
  }

  &__options {
    display: flex;
    gap: 10px;
  }

  &__option {
    display: flex;
    gap: 8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: #023b78;
    cursor: pointer;
    border: 0;

    &.activated {
      background-color: #2188ff;
      cursor: default;
    }
  }
}
