$border: solid 1px #d8dfe6;

.assetsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #77818c;
    b {
      font-size: 20px;
      font-weight: 600;
      color: #24292f;
    }
  }

  &__container {
    display: flex;
    flex-grow: 1;
    gap: 8px;
  }
}

.assetsList {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-radius: 2px;
  border: $border;
  resize: horizontal;
  overflow: auto;

  &__searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border-bottom: $border;

    input {
      width: 95%;
      font-size: 14px;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #c1c9d2;
      }
    }
  }

  &__filtersContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    border-bottom: solid 1px #d8dfe6;
    flex-wrap: wrap;

    small {
      margin-left: auto;
      color: gray;
      font-style: italic;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff;
    color: #77818c;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    border: $border;
    border-radius: 3px;
    cursor: pointer;

    &.activated {
      color: white;
      background-color: #2188ff;

      img {
        filter: saturate(0) brightness(0) invert(1);
      }
    }
  }

  &__tree {
    flex-grow: 1;
    overflow: auto;
    height: 0;
    padding: 12px 16px;

    > .treeNode > .treeNode__childrenWrapper {
      border-bottom: solid 1px #eceef1;
    }
  }
}

.treeNode {
  &__option {
    display: flex;
    gap: 8px;
    padding: 6px 0;
    cursor: pointer;

    img {
      max-width: 20px;
      max-height: 20px;
    }

    span {
      white-space: nowrap;
    }
  }

  &__arrow {
    transform: rotate(-90deg);
    &.opened {
      transform: none;
    }
  }

  &__childrenWrapper {
    padding-left: 25px;
    border-left: solid 1px #eceef1;
    margin-left: 4px;
  }

  &__sensorIcon {
    filter: hue-rotate(260deg);

    &.operating {
      filter: none;
    }
  }
}

.assetsDetails {
  flex-grow: 1;
  border-radius: 2px;
  border: $border;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-bottom: $border;

    span {
      font-weight: 600;
      font-size: 18px;
      color: #24292f;
    }
  }

  &__file {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__data {
    display: flex;
    border-bottom: $border;
    padding-bottom: 20px;
    gap: 20px;

    .assetsDetails__infoData {
      &:first-of-type {
        border-bottom: $border;
      }
    }
  }

  &__addImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 336px;
    min-height: 226px;
    border-radius: 4px;
    background-color: #f2f8ff;
    border: dashed 1px #55a6ff;

    img {
      width: 38px;
      height: 38px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      color: #2188ff;
    }
  }

  &__informations {
    width: 100%;
  }

  &__infoData {
    padding: 20px 0;
  }

  &__lable {
    font-weight: 600;
    font-size: 16px;
    color: #24292f;
    margin-bottom: 8px;
  }

  &__value {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-size: 16px;
      font-weight: 400;
      color: #88929c;
    }
  }

  &__hardware {
    display: flex;
    div {
      width: 50% !important;
    }
  }
}
